<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Your Job Posting</h1>
    <a href="/dashboard">Back</a>
    <a href="/logout">Logout</a>
    <form action="/update/{{job.id}}" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{job.title}}">
        <label for="desc">Description</label>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" value="{{job.location}}">
        <input type="submit" value="Submit">
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>