<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Back</a>
    <a href="/logout">Logout</a>
    <p>{{job.title}}</p>
    <p>{{job.desc}}</p>
    <p>Location: {{job.location}}</p>
    <p>Posted by: {{job.user.Fname}} {{job.user.Lname}}</p>
    <p>Posted on: {{job.created_at}}</p>
    <a href="/addtouser/{{job.id}}">Add To My Jobs</a>
</body>
</html>